[Desktop Entry]
Version=1.0
Name=Music
Comment=Music
Exec=google-chrome-stable --new-window https://music.youtube.com/
Terminal=false
Type=Application
Icon=$HOME/.local/share/applications/icons/music.png
StartupNotify=true
