[Desktop Entry]
Version=1.0
Name=Whatsapp
Comment=Whatsapp
Exec=google-chrome-stable --new-window https://web.whatsapp.com/
Terminal=false
Type=Application
Icon=$HOME/.local/share/applications/icons/whatsapp.png
StartupNotify=true
