[Desktop Entry]
Version=1.0
Name=Youtube
Comment=Youtube
Exec=google-chrome-stable --new-window https://www.youtube.com/
Terminal=false
Type=Application
Icon=$HOME/.local/share/applications/icons/youtube.png
StartupNotify=true
